.table-view {
	-fx-background-insets: 0;
	-fx-padding: 0;
}

.table-view .table-column {
	-fx-alignment: CENTER;
}

.table-view .column-header .label {
	-fx-font: 9.5pt "Helvetica";
	-fx-font-weight: bold;
}